# Composer 
composer.phar
composer.json
composer.lock

/vendor/
/build/
/node_modules

.htaccess
.idea
.vscode

#phpUnit
phpunit_xml.dist
.phpunit.result.cache

package-lock.json
package.json

Config/Params/Parameter.php