@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap'); /*Titre*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');/*Body*/


h1,h2,h3,h4,h5,h6{
  font-family: 'Nunito', sans-serif;
}

.cover-container {
  max-width: 49em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead{
  font-size: 19px;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.726);
  color: rgba(255, 255, 255, 0.726);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  text-align: center;
}

/*
*Background image
*/
body{
  background: #121213 url(http://localhost/AlBlog81/images/peter-olexa-Q5GnQxjX7Jk-unsplash.jpg) no-repeat fixed center;
  background-size: cover;
  -webkit-background-size:cover;
  color: #fcfcfc;
  font-family: 'Work Sans', sans-serif;
}

/*
*Boton de connexion
*/
.connexion{
background: rgba(252, 70, 106, 0.5);
background: -webkit-linear-gradient(to right, rgba(63, 94, 251, 0.5), rgba(252, 70, 106, 0.5));
background: linear-gradient(to right, rgba(63, 94, 251, 0.5), rgba(252, 70, 106, 0.5));
padding: 5px !important;
border-radius: 6px;
color: #fcfcfc !important;
}

.hidden{
  display: none;
}

.bg-black{
  background: #0B0F13;
}
