@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap'); /*Titre*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');/*Body*/


h1,h2,h3,h4,h5,h6{
  font-family: 'Nunito', sans-serif;
}

.cover-container {
  max-width: 57em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead{
  font-size: 16px;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .12rem solid transparent;
}


.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  text-align: center;
}

/*
*Background image
*/
body{
  background: #121213 url(./../images/peter-olexa-Q5GnQxjX7Jk-unsplash.jpg) no-repeat fixed center;
  background-size: cover;
  -webkit-background-size:cover;
  color: #fcfcfc;
  font-family: 'Work Sans', sans-serif;
}

/*
*Boton de connexion
*/
.connexion{
background: rgba(252, 70, 106, 0.5);
background: -webkit-linear-gradient(to right, rgba(63, 94, 251, 0.5), rgba(252, 70, 106, 0.5));
background: linear-gradient(to right, rgba(63, 94, 251, 0.5), rgba(252, 70, 106, 0.5));
padding: 5px !important;
border-radius: 6px;
color: #fcfcfc !important;
}

.hidden{
  display: none;
}

.bg-black{
  background: #0B0F13;
}

/************* Error 404 ******************/
.error-container {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: montserrat, sans-serif;

}

.big-text {
  font-size: 200px;
  font-weight: 900;
  font-family: sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fcfcfc;
  background: url(./../images/cloudRed.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.small-text {
  font-family: montserrat, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Style form Contact */
.inputName,
.inputSujet,
.inputEmail,
.message,
.inputCommentName,
.inputCommentEmail,
.inputComment
{
  background: #232526;
  background: -webkit-linear-gradient(to left, #4d4647, #232526);
  background: linear-gradient(to left, #46484a, #232526);
}

.Subcribe {
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Style form inscription */
.legend{
  width: 170px !important;
  padding: 5px;
}
