@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

h1,h2,h3,h4,h5,h6 {
  font-family: 'Nunito', sans-serif;
}

.cover-container {
  max-width: 77em;
}

/* Header */
.iconTitle {
  color: #fcfcfc;
  text-decoration: none;
}

.iconTitle:hover {
  background-image: linear-gradient(to right, rgba(63, 94, 251, 0.5), rgba(252, 70, 106, 0.5));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead {
  font-size: 18px;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .12rem solid transparent;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

@media (min-width: 48em) {
  .masthead-brand { float: left; }
  .nav-masthead { float: right; }
}

/* Cover */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* Footer */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  text-align: center;
}

.footNavUl > li > a {
  color: #fcfcfc;
}

.icons {
  font-size: 35px;
  padding: 5px;
  margin-top: 50%;
}

.footIcons {
  margin-top: 4rem;
}

/* Background image */
body {
  background: #121213 url(./../images/jonatan-pie-h8nxGssjQXs-unsplash.jpg) no-repeat fixed center;
  background-size: cover;
  -webkit-background-size:cover;
  color: #fcfcfc;
  font-family: 'Work Sans', sans-serif;
}

/* Botton de connexion */
.connexion {
  background: rgba(252, 70, 106, 0.5);
  background: -webkit-linear-gradient(to right, rgba(63, 94, 251, 0.5), rgba(252, 70, 106, 0.5));
  background: linear-gradient(to right, rgba(63, 94, 251, 0.5), rgba(252, 70, 106, 0.5));
  padding: 5px !important;
  border-radius: 6px;
  color: #fcfcfc !important;
}

.hidden {
  display: none;
}

.bg-black {
  background: #0B0F13;
}

/************* Error 404 ******************/
.error-container {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: montserrat, sans-serif;
}

.big-text {
  font-size: 200px;
  font-weight: 900;
  font-family: sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fcfcfc;
  background: url(./../images/cloudRed.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.small-text {
  font-family: montserrat, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Style form Contact */
.inputName,
.inputSujet,
.inputEmail,
.message,
.inputCommentName,
.inputCommentEmail,
.inputComment,
.mdp
{
  background: #232526;
  border: #232526;
  background: -webkit-linear-gradient(to left, #4d4647, #232526);
  background: linear-gradient(to left, #46484a, #232526);
}

.Subcribe,
.tox-editor-container
{
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
}

/* Style form inscription */
.legend {
  width: 170px !important;
  padding: 5px;
}

/* Style form mis à jour mdp */
.formMdp {
  padding: 15px 20px;
}

.mdp {
  text-decoration-color: #fcfcfc;
}

.dashContentView,
.profilPostContentView {
  height: 400px;
  overflow: hidden !important;
  overflow-y: scroll !important;
}

.profilCommentContentView {
  height: 300px;
}

/* Style liste des article */
.viewPostCard{
  width: 18rem;
}

@media (max-width: 876px) {
  .viewPostCard,
  .postView {
    width: 16rem !important;
  }

  .dashTitle {
    font-size: 50px;
  }
}

/* Style détail des article  */
.postView { margin: 0 auto; }
