@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap'); /*Titre*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');/*Body*/


h1,h2,h3,h4,h5,h6{
  font-family: 'Nunito', sans-serif;
}

.cover-container {
  max-width: 49em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead{
  font-size: 19px;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .12rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.726);
  color: rgba(255, 255, 255, 0.726);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  text-align: center;
}

/*
*Background image
*/
body{
  -webkit-animation: random 90s linear infinite ;
  animation: random 90s linear infinite;
  background: #121213 url(./../images/peter-olexa-Q5GnQxjX7Jk-unsplash.jpg) no-repeat fixed center;
  background-size: cover;
  -webkit-background-size:cover;
  color: #fcfcfc;
  font-family: 'Work Sans', sans-serif;
}

@keyframes random {
  25% {
    background: #121213 url(./../images/jude-beck-zcvzfCgHQ6s-unsplash.jpg) no-repeat fixed center;
    background-size: cover;
    -webkit-background-size:cover;
  }
  50% {
    background: #121213 url(./../images/markus-spiske-mbrF_62mp-Y-unsplash.jpg) no-repeat fixed center;
    background-size: cover;
    -webkit-background-size:cover;
  }
  75% {
    background: #121213 url(./../images/max-kleinen-ohQinqTl_DE-unsplash.jpg) no-repeat fixed center;
    background-size: cover;
    -webkit-background-size:cover;
  }
  100% {
    background: #121213 url(./../images/octavio-fossatti-HlWctEa8YH0-unsplash.jpg) no-repeat fixed center;
    background-size: cover;
    -webkit-background-size:cover;
  }
}

/*
*Boton de connexion
*/
.connexion{
background: rgba(252, 70, 106, 0.5);
background: -webkit-linear-gradient(to right, rgba(63, 94, 251, 0.5), rgba(252, 70, 106, 0.5));
background: linear-gradient(to right, rgba(63, 94, 251, 0.5), rgba(252, 70, 106, 0.5));
padding: 5px !important;
border-radius: 6px;
color: #fcfcfc !important;
}

.hidden{
  display: none;
}

.bg-black{
  background: #0B0F13;
}

/************* Error 404 ******************/
.error-container {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: montserrat, sans-serif;

}

.big-text {
  font-size: 200px;
  font-weight: 900;
  font-family: sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fcfcfc;
  background: url(./../images/cloudRed.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.small-text {
  font-family: montserrat, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}




/* Style the search field */
/*form.example input[type=text] {
padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;
width: 80%;
background: #f1f1f1;
}
*/

.form-group {
  display: flex;
  /* border: 1px #53a0e4 solid;
  border-radius:30px;
  overflow: hidden;*/
}

/*
.form-group:focus-within{
   border: 1px green solid;
}
*/

/*	input:focus + .control-label
*/
.form-control {
  overflow: hidden;
  background: #fff;
  border: 1px #53a0e4 solid;
  border-right: none;
  border-radius: 25px 0px 0px 25px;
  font-size: 1rem;
}

.form-control:focus {
  border-color: #61b045;
  box-shadow: none;
}


/* Style the submit button */
form .search-btn {
  all: unset;
  width: 15%;
  padding: 10px;
  background: #1e50e2;
  color: white;
  font-size: 17px;
  border: 1px #1e50e2 solid;
  /* Prevent double borders */
  border: 1px #53a0e4 solid;
  border-radius: 0px 25px 25px 0px;
  cursor: pointer;
}

form .search-btn:hover {
  background: #0b7dda;
}

.button {
  color:	#fff;
  padding: 12px 36px;
  font-weight: 600;
  border: none;
  position: relative;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  margin: 2px;
  margin-top: 2px;
  background-image: linear-gradient(to right, #232526 0%, #4d4647 51%,#232526 100%);
  background-size: 200% auto;
  flex: 1 1 auto;
  text-decoration: none;

}


.button:hover,
.button:focus {
  color:	#ffffff;
  background-position: right center;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

/* Style form Contact */
#inputName,
#inputEmail,
#message{
  background: #232526;
  background: -webkit-linear-gradient(to left, #4d4647, #232526);
  background: linear-gradient(to left, #46484a, #232526);
}
